import React from 'react'
import {  } from './<%= props.name%>-stitches'
import {  } from './<%= props.name%>-type'

interface <%= props.name%>Interface {  } 

export function <%= props.name%>({  }: <%= props.name%>Interface) { 
    
    return (
        <div></div>
    )
}
